﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="tp2_5._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <p>
        &nbsp;</p>
<p>
    Nombre de posts :

&nbsp;</p>

    <p>
    <asp:Table ID="postsTable" runat="server" Height="52px" Width="750px">
    </asp:Table>
    <br />
        </p>
&nbsp;
</asp:Content>
